@import "../app/App.scss";
.step {
  width: 80%;
  height: auto;

  justify-self: center;
  align-self: center;

  background-color: $White;
  border: 1px solid gold;
  border-radius: $radius;

  & input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    display: block;
    border-radius: 5px;
    border: 1px solid $Cool-gray;
    outline: none;
  }
  & input:focus {
    border: 1px solid $primary-color;
  }
  & label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
    color: $secondary-color;
  }
}
@media screen and (max-width: 1139px) {
  .step {
    width: 90%;
    height: auto;

    padding: 2rem 1rem;
    margin: auto;
    margin-top: -4rem;

    background-color: $White;
    border-radius: $radius;

    & input {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 1rem;
      display: block;
    }
    & label {
      display: block;
      margin-bottom: 0.3rem;
      font-size: 0.8rem;
    }
  }
}
