@import "../app/App.scss";
.step-2_planes {
  margin-bottom: 1rem;
}
@media screen and (min-width: 1139px) {
  .step-2 {
    display: flex;
    flex-direction: column;
    &_planes {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
    }
  }
}
