$primary-color: hsl(243, 100%, 62%);
$secondary-color: hsl(213, 96%, 18%);
$Pastel-blue: hsl(228, 100%, 84%);
$Light-blue: hsl(206, 94%, 87%);
$Strawberry-red: hsl(354, 84%, 57%);
$Cool-gray: hsl(231, 11%, 63%);
$Light-gray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100%);
$f-size: 0.8rem;
$f-family: "Lexend Deca", sans-serif;
$radius: 10px;
$trans: all 0.2s ease-in-out;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $Magnolia;

  &_container {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: 25% 1fr 10%;

    background-color: $Magnolia;

    border-radius: $radius;
  }
}
// Components General Styles Goes Here :)
.step {
  width: 80%;
  min-height: 80%;

  justify-self: center;
  align-self: center;

  background-color: $White;
  border-radius: $radius;
}
@media screen and (min-width: 1140px) {
  .app_container {
    height: 80vh;
    width: 60vw;
    display: grid;

    grid-template-columns: 30% 1fr;
    grid-template-rows: 1fr 20%;

    background-color: $White;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.212);
  }
  .sidebar {
    grid-row: 1/-1;

    font-size: 2rem;
  }
}
@media screen and (max-width: 1139px) {
  .step {
    width: 90%;

    padding: 1rem 1rem;
    margin: auto;
    margin-top: -4rem;

    background-color: $White;
    border-radius: $radius;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.152);
  }
}
