@import "../app/App.scss";
.plane {
  min-width: 7.9rem;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid $Cool-gray;
  border-radius: $radius;
  transition: $trans;
  cursor: pointer;

  &:hover {
    border: 1px solid $primary-color;
  }
  &_info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  & h4 {
    font-size: 0.9rem;
    font-weight: 500;
    color: $secondary-color;
    text-transform: capitalize;
  }
  & p {
    font-size: 0.7rem;
    color: $Cool-gray;
    font-weight: 300;
  }
  & h5 {
    font-size: 0.8rem;
    font-weight: 300;
    color: $secondary-color;
  }
}
.plane_img {
  width: 2rem;
  height: 2rem;
  align-self: center;
}
@media screen and (min-width: 1139px) {
  .plane {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .plane_img {
    margin-bottom: 0.8rem;
    align-self: flex-start;
  }
  .plane_info {
    min-height: fit-content;
  }
}
.img-1 {
  background: url(../../../assets/images/icon-arcade.svg) center/cover no-repeat;
}
.img-2 {
  background: url(../../../assets/images/icon-advanced.svg) center/cover
    no-repeat;
}
.img-3 {
  background: url(../../../assets/images/icon-pro.svg) center/cover no-repeat;
}
.plane-active {
  border: 1px solid $primary-color;
  background-color: $Alabaster;
}
