@import "../app/App.scss";
.checker {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  border: 1px solid $Cool-gray;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: $radius;
  transition: $trans;
  cursor: pointer;
  & h4 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
  }
  & p {
    font-size: $f-size;
    color: $Cool-gray;
    font-weight: 300;
  }
  &_price {
    font-size: $f-size;
    color: $primary-color;
    margin-left: auto;
  }

  &:hover,
  &:active {
    border: 1px solid $primary-color;
    background-color: $Magnolia;
  }
}
