@import "../app/App.scss";
.sidebar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1.5rem;
  background-color: $primary-color;
  color: black;
}
@media screen and (min-width: 1140px) {
  .sidebar {
    width: 95%;
    height: 95%;

    padding-left: 5%;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    border-radius: $radius;
  }
}
