@import "../app/App.scss";
.sidebar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1.5rem;
  background: url(../../../assets/images/bg-sidebar-mobile.svg) no-repeat
    center/cover;
}
@media screen and (min-width: 1140px) {
  .sidebar {
    width: 95%;
    height: 95%;

    padding-left: 5%;
    align-self: center;
    justify-self: flex-end;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background: url(../../../assets/images/bg-sidebar-desktop.svg) no-repeat
      center/cover;
    border-radius: $radius;
  }
}
